<img class="navbar_image" src="../public/nav/smedji/stup.png">
<a href="/ucimo-brojeve"><img class="navbar_image" src="../public/nav/smedji/ucimo_brojeve.png" onmouseover="this.src='../public/nav/smedji/ucimo_brojeve_hover.png'" onmouseout="this.src='../public/nav/smedji/ucimo_brojeve.png'"/></a>
<a href="/lagano-zbrajanje"><img class="navbar_image" src="../public/nav/smedji/lagano_zbrajanje.png" onmouseover="this.src='../public/nav/smedji/lagano_zbrajanje_hover.png'" onmouseout="this.src='../public/nav/smedji/lagano_zbrajanje.png'"/></a>
<a href="/lagano-oduzimanje"><img class="navbar_image" src="../public/nav/{{tema}}/lagano_oduzimanje.png"/></a>
<a href="/tesko-zbrajanje"><img class="navbar_image" src="../public/nav/smedji/tesko_zbrajanje.png" onmouseover="this.src='../public/nav/smedji/tesko_zbrajanje_hover.png'" onmouseout="this.src='../public/nav/smedji/tesko_zbrajanje.png'"/></a>
<a href="/tesko-oduzimanje"><img class="navbar_image" src="../public/nav/smedji/tesko_oduzimanje.png" onmouseover="this.src='../public/nav/smedji/tesko_oduzimanje_hover.png'" onmouseout="this.src='../public/nav/smedji/tesko_oduzimanje.png'"/></a>
<img class="navbar_image" src="../public/nav/smedji/stup_kraj.png">

<script tema={{tema}} src="../public/brojevi/lagano_oduzimanje.js"></script>
<div class="igra">
    <a href="/lagano-oduzimanje"><img class="navbar_game" src="../public/nav/{{tema}}/igraj_ponovno.png"></a>
    <a href="/lagano-oduzimanje/{{sljedecaTema}}"><img class="navbar_game" src="../public/nav/{{tema}}/promijeni_podlogu.png" ></a>

    <a data-toggle="modal" data-target="#myModal"><img class="navbar_game" style="float:right" id="upute" src="../public/nav/{{tema}}/upute.png"> </a>

    <div class="konzola" id="laganoOduzimanje"></div>
    <input class="navbar_game" type="image" src="../public/nav/{{tema}}/provjeri_rezultat.png" onclick="myFunction()" />
</div>