<div class="modal fade" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <br/>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="../public/nav/X.png" ></button>
            <br/>
            <p class="upute-naslov">LAGANO ODUZIMANJE</p>
            <br/>
            <p class="upute-tekst">NA VRHU IGRICE NALAZI SE <img src="../public/nav/{{tema}}/krug.png" style="display: inline"/> KOJI IMA U SEBI UPISAN</p>

            <p class="upute-tekst"> BROJ. MORAŠ ODVUĆI DOBAR BROJ <img src="../public/nav/{{tema}}/element_zbrajanje.png" style="display: inline;"/> U SVAKI RED </p>
            <p class="upute-tekst">TAKO DA REZULTAT ODUZIMANJA U SVAKOM REDU BUDE</p>
            <p class="upute-tekst">JEDNAK BROJU NAPISANOM NA VRHU.</p>
            <p class="upute-tekst">KADA SI GOTOV PRITISNI KVAČICU <img src="../public/nav/{{tema}}/provjeri_rezultat.png" style="display: inline; width: 8%"/> NA DNU EKRANA.</p>

            <br/>

            <p class="upute-tekst"> ODGOVOR JE TOČAN: <img src="../public/nav/tocno.png" style="display: inline;"/></p>
            <p class="upute-tekst"> ODGOVOR JE NETOČAN: <img src="../public/nav/netocno.png" style="display: inline;"/></p>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<img class="navbar_image" src="../public/nav/smedji/stup.png">
<a href="/ucimo-brojeve"><img class="navbar_image" src="../public/nav/smedji/ucimo_brojeve.png" onmouseover="this.src='../public/nav/smedji/ucimo_brojeve_hover.png'" onmouseout="this.src='../public/nav/smedji/ucimo_brojeve.png'"/></a>
<a href="/lagano-zbrajanje"><img class="navbar_image" src="../public/nav/smedji/lagano_zbrajanje.png" onmouseover="this.src='../public/nav/smedji/lagano_zbrajanje_hover.png'" onmouseout="this.src='../public/nav/smedji/lagano_zbrajanje.png'"/></a>
<a href="/lagano-oduzimanje"><img class="navbar_image" src="../public/nav/{{tema}}/lagano_oduzimanje.png"/></a>
<a href="/tesko-zbrajanje"><img class="navbar_image" src="../public/nav/smedji/tesko_zbrajanje.png" onmouseover="this.src='../public/nav/smedji/tesko_zbrajanje_hover.png'" onmouseout="this.src='../public/nav/smedji/tesko_zbrajanje.png'"/></a>
<a href="/tesko-oduzimanje"><img class="navbar_image" src="../public/nav/smedji/tesko_oduzimanje.png" onmouseover="this.src='../public/nav/smedji/tesko_oduzimanje_hover.png'" onmouseout="this.src='../public/nav/smedji/tesko_oduzimanje.png'"/></a>
<img class="navbar_image" src="../public/nav/smedji/stup_kraj.png">

<script tema={{tema}} src="../public/brojevi/lagano_oduzimanje.js"></script>
<div class="igra">
    <a href="/lagano-oduzimanje"><img class="navbar_game" src="../public/nav/{{tema}}/igraj_ponovno.png"></a>
    <a href="/lagano-oduzimanje/{{sljedecaTema}}"><img class="navbar_game" src="../public/nav/{{tema}}/promijeni_podlogu.png" ></a>

    <a data-toggle="modal" data-target="#myModal"><img class="navbar_game" style="float:right" id="upute" src="../public/nav/{{tema}}/upute.png"> </a>

    <div class="konzola" id="laganoOduzimanje"></div>
    <input class="navbar_game" type="image" src="../public/nav/{{tema}}/provjeri_rezultat.png" onclick="myFunction()" />
</div>